<style>
  <%- include('../css/style.css') %>
  <%- include('../css/login.css') %>
</style>

<div class="login-center-container">
  <div class="login-card">
    <div class="login-logo">
      <img src="/images/flexiRoom-Logo.png" alt="Logo" />
    </div>
    <form class="login-form password" action="/api/v1/users/verifyCredentials" method="POST">
      <div class="input-container">
        <%- include('../components/input', { 
          placeholder: "E-mail", 
          variant: "Unabled", 
          type: "email", 
          name: "email", 
          value: email, 
          readonly: true 
        }) %>
      </div>
      <div class="input-container">
        <%- include('../components/input', { 
          placeholder: "Password", 
          variant: "Default", 
          type: "password", 
          name: "password", 
          required: true 
        }) %>
      </div>
      <a href="/password" class="link" name="link">Reset My Password</a>
      <div class="button-container">
        <%- include('../components/button', { 
          placeholder: "Login", 
          type: "submit", 
          variant: "Default" 
        }) %>
      </div>
    </form>
  </div>
</div>