<style>
  <%- include('../css/style.css') %>
  <%- include('../css/login.css') %>
</style>

<div class="login-center-container">
  <div class="login-card">
    <div class="login-logo">
      <img src="/images/flexiRoom-Logo.png" alt="Logo" />
    </div>
      <form class="login-form" action="/api/v1/users/createPassword/<%= id %>" method="post">
        <div class="input-container">
          <%- include('../components/input', { 
                placeholder: "E-mail", 
                variant: "Unabled", 
                type: "email", 
                name: "email", 
                value: email
          }) %>
        </div>
        <br>
        <div class="input-container">
          <%- include('../components/input', { 
                placeholder: "Password", 
                variant: "Default", 
                type: "password", 
                name: "password", 
                required: true 
          }) %>
        </div>
        <br>
        <div class="input-container">
          <%- include('../components/input', { 
                placeholder: "Confirm Password", 
                variant: "Default", 
                type: "password", 
                name: "confirmPassword", 
                required: true 
          }) %>
        </div>
        <br>
        <div class="button-container">
          <%- include('../components/button', { 
                placeholder: "Create", 
                type: "submit", 
                variant: "Default" 
          }) %>
        </div>
      </form>
  </div>
</div>